// SASS VARIABLES
@import "reset.css";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

$color-red: #d20a32;
$color-dark_grey: #191919;

html {
  height: 100%;
}

body {
  background-color: $color-dark_grey;
  color: white;
  font-family: "Lato", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  .hidden {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
  }

  .wrapper {
    width: 1024px;
    margin: 0 auto;

    header {
      .header--navigation {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;

        .header--title {
          font-size: 48px;
          font-weight: bold;
          color: $color-red;
          letter-spacing: 1px;
        }

        .header--searchbar {
          align-self: center;
          display: flex;
          border: 1px solid #d8d8d8;
          border-radius: 50px;
          padding: 0 80px;
          align-self: center;
          margin-top: 10px;
          cursor: pointer;

          .searchIcon {
            padding: 0.5rem;
            color: #d8d8d8;
            margin: 2px 0 0 -60px;
          }

          input {
            background-color: transparent;
            padding: 0 50px 0 0;
            outline: none;
            min-width: 100%;
            border: 0;
            font-size: 16px;
            box-shadow: none;
            color: white;
          }

          input::placeholder {
            margin-left: -30px;
          }
        }
      }
      .header--select__wrapper {
        max-width: 260px;
        margin-bottom: 1.5rem;
      }
      .header--select__box {
        background-color: $color-red;
        width: 100%;
        color: white;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: thin;
        line-height: 1.75;
      }

      h1 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 2rem;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 24px;

      .game__card {
        .game__card--title {
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 24px;
        }

        .game__card--image {
          margin-bottom: 10px;
          max-width: 100%;
          height: 193px;
          object-fit: fill;
          cursor: pointer;
        }

        .game__card--icons {
          margin-top: 0.7rem;
        }

        .platform__icon {
          height: 1.4em;
          margin: 0 10px 0 0;
        }

        .game__card--details {
          margin-bottom: 10px;
          height: 193px;
        }

        h3 {
          font-size: 18px;
          margin-bottom: 1.2rem;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  .main__showmore {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .main__showmore--button {
    background-color: $color-red;
    height: 51px;
    width: 223px;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }

  .footer__main {
    height: 50px;
    margin: 3rem 0 2rem 0;
    font-weight: bold;
    grid-row-start: 2;
    grid-row-end: 3;

    .footer__redbar {
      width: 139px;
      height: 10px;
      background-color: $color-red;
      margin-bottom: 1.5rem;
    }
  }
}
